    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/Article-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/jquery.js'%}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" rel="stylesheet">


    <style>

        A {
          color: black;
        }

        A:active {
          color: black;
        }

        A:hover {
          color: black;
        }
        html {
          scroll-behavior: smooth;
        }


    </style>

