        <nav class="navbar navbar-light navbar-expand-md navigation-clean fixed-top navigation-clean" style="   padding-bottom: 6px">
            <div class="container">
                <a class="navbar-brand" href="/" style="font-size: 22px;">Мой экскурсовод</a>

                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class=" d-flex justify-content-end">
                            <a class="nav-link"  style="font-size: 22px;cursor: pointer;">Записаться</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<hr>



        <style>
            .navbar {
                font-family: 'Noto Sans', sans-serif;
            }

        .btn:focus,.btn:active {
           outline: #b3b7bc !important;
           box-shadow: none !important;
        }

        button:focus,button:active {
           outline: #b3b7bc !important;
           box-shadow: none !important;
        }



       .navbar-toggler{
           border: none;
       }

       @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           .navbar{
                border-bottom: solid 2px black;
           }
       }


        </style>


