<html>

{% load static %}

<head>

    <title>{{ district.name }}</title>
    {% include "patterns/head.html" %}
</head>

<style>
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .title{
            padding: 0px 10px;
        }

        .heater{
            padding: 0px 10px;
        }

        figcaption{
            padding: 0px 10px;
        }

        .text{
            padding: 0px 10px;
        }

        .main-col{
            padding: 0px;
        }
    }

    figure{
        margin: 0px;
    }

    .title{
        text-transform: uppercase;
        font-size: 40px;
        margin-top: 26px;
        color: black;
        line-height: 54px;
        font-weight: 500;
    }

    .heater{
        margin-top: 23px;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0px;
        font-weight: 500;
        color: black;
    }

    figcaption{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: rgba(0, 0, 0, 0.78);
    }



    .img-fluid{
        margin-top: 86px;
        margin-bottom: 0px;
    }

    .text{
        margin-top: 26px;
        font-size: 17px;
        line-height: 23px;
        color: black;
    }

    .
</style>


<body>
    <div class="col">

        {% include "patterns/feedback.html" %}
        {% include "patterns/navbar.html" %}
    </div>

    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 main-col">
                    <div class="text-center intro">

                        <div class="text-left ">

                            {% if district.image1 %}
                            <figure >
                                <img class="img-fluid" style="margin-top: 46px;" src="{{ district.image1.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption1 }}</figcaption>
                            </figure>


                            <p class="title">
                                {{ district.name }}
                            </p>


                            <p class="heater">
                                {{ district.title1  }}
                            </p>


                            <p class="text">
                                {{ district.text1|linebreaksbr  }}
                            </p>


                            {% if district.image2 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image2.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption2 }}</figcaption>
                            </figure>


                            <p class="heater">
                                {{ district.title2  }}
                            </p>



                            <p class="text">
                                {{ district.text2|linebreaksbr  }}
                            </p>


                            {% if district.image3 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image3.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption3 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title3  }}
                            </p>



                            <p class="text">
                                {{ district.text3|linebreaksbr  }}
                            </p>

                            {% if district.image4 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image4.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption4 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title4  }}
                            </p>



                            <p class="text">
                                {{ district.text4|linebreaksbr  }}
                            </p>


                            {% if district.image5 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image5.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption5 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title5  }}
                            </p>



                            <p class="text">
                                {{ district.text5|linebreaksbr  }}
                            </p>

                            {% if district.image6 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image6.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption6 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title6  }}
                            </p>



                            <p class="text">
                                {{ district.text6|linebreaksbr  }}
                            </p>

                            {% if district.image7 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image7.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption7 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title7  }}
                            </p>



                            <p class="text">
                                {{ district.text7|linebreaksbr  }}
                            </p>

                            {% if district.image8 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image8.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption8 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title8  }}
                            </p>



                            <p class="text">
                                {{ district.text8|linebreaksbr  }}
                            </p>


                            {% if district.image9 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image9.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption9 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title9  }}
                            </p>



                            <p class="text">
                                {{ district.text9|linebreaksbr  }}
                            </p>


                            {% if district.image10 %}
                            <figure>
                                <img class="img-fluid"  src="{{ district.image10.url }}" >
                            </figure>
                            {% endif %}

                            <figure>
                                <figcaption>{{ district.caption10 }}</figcaption>
                            </figure>

                            <p class="heater">
                                {{ district.title10  }}
                            </p>



                            <p class="text">
                                {{ district.text10|linebreaksbr  }}
                            </p>








                        </div>
                </div>
            </div>
        </div>
    </div>





<body>


</html>
